
/* ---------------------------------------------------------------------------- */
/* ----------------------------------Container--------------------------------- */
/* ---------------------------------------------------------------------------- */
.index-page, .sub-page {margin: 20px 10px 60px;}
#page-content .item {background-color: #fff;width:220px;box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.18);}
#page-content .item span.time{color: #999;font-size: 14px;}
#page-content .item img {padding: 0px;display: block;max-width: 100%;}
#page-content .content-item{padding: 10px 20px;}
#page-content h3.title-item {font-family: 'Ek Mukta', sans-serif;font-size: 28px;margin: 7px 0 5px;}
#page-content .content-item ul{margin: 0;font-size: 14px;}
#page-content .content-item ul li a{color: #555;}
#page-content .bottom-item{border-top: 1px solid #ddd;min-height: 50px;}
#page-content .share{}
#page-content .user{color: #777;font-size: 13px;line-height: 2.8;padding: 5px;}
#page-content .user img{width: 38px; height: 38px;float:right;display: inline-block;margin-left: 7px;}

article {background-color: #fff;max-width: 750px;box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.18);text-align: justify;}
article h2{padding-top: 50px;}
article h3{margin: 0;padding: 0;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h2{font-size: 34px; font-weight: 500;letter-spacing: 3px;padding-top: 20px ;text-align: center;}

#contact_form {padding:25px;}

#ff label {cursor:pointer;margin:px 0;display:block;font-weight:bold;}
#ff input {display:block;width:100%;color:#000;padding:10px;margin: 5px 0 25px 0;}
#ff textarea {display:block;width:100%;height:200px;background-color:#fff; color:#000;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {border: none;cursor:pointer;background-color: #333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100px;color:#ffffff;}
#ff .sendButton:hover {background-color: #000;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Btn------------------------------------ */
/* ---------------------------------------------------------------------------- */
.btn{color: #fff;padding: 0px 10px;font-weight: bold;}
.btn-share{font-weight: 500;color: #555;border-right: 1px solid #ddd;margin: 0;border-radius: none;height: 51px; width: 75px;margin-top: -1px;padding: 14px;}
.btn-search{color: #333333;
  background-color: #ddd;
  padding: 6px 12px;}
.btn-search:hover{color: #333333;
  background-color: #adadad;
  }
.btn-1{background-color: #E52E2E; }
.btn-1:hover{background-color: transparent; color: #E52E2E;}
.btn-2{background-color: #76C75D; }
.btn-2:hover{background-color: transparent; color: #76C75D;}
.btn-3{background-color: #36A08A; }
.btn-3:hover{background-color: transparent; color: #36A08A;}
.btn-4{background-color: #9E76C2; }
.btn-4:hover{background-color: transparent; color: #9E76C2;}
.btn-5{background-color: #5DB4C7; }
.btn-5:hover{background-color: transparent; color: #5DB4C7;}