
<!DOCTYPE html>
<html>
<head>
<title>YellowPage</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Perspective Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!--FlexSlider-->
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
		<script defer src="js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->
<!-- pop-up-script -->
<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.img-top a').Chocolat();
		});
		</script>
<!-- //pop-up-script -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<a class="navbar-brand" href="index.html"><h1>YellowPage</h1></a>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="act"><a href="index.html">Home</a></li>
						<li class="hvr-bubble-bottom"><a href="about.html">About Us</a></li>
						
						<li class="hvr-bubble-bottom"><a href="Log%20In".html>Log In</a></li>
                        
						<li class="hvr-bubble-bottom"><a href="#contact" class="scroll">Contact Us</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->	
				
			</nav>
		</div>
	</div>
<!-- header -->
<!-- header-bottom -->
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom-right">
				<div class="header-bottom-right2">
					<ul>
						<li><a href="#" class="facebook"> </a></li>
						<li><a href="#" class="p"> </a></li>
						<li><a href="#" class="g"> </a></li>
						<li><a href="#" class="twitter"> </a></li>
					</ul>
				</div>
				<div class="header-bottom-right1">
					<ul>
						<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
						<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+0943 976 908</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header-bottom -->
<!-- banner -->
	<div class="banner">
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-info">
								<h1>Design & <span>Development</span></h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<h1>Design & <span>Development</span></h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<h1>Design & <span>Development</span></h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
<!-- //banner -->
<!-- services -->
	<div class="services">
		<div class="container">
			<h3>All Services</h3>
			<p class="vel">Choose Category</p>
	
         

		</div>
	</div>
<!-- //services -->

<!-- features -->
	<div id="features" class="features">
		<div class="container">
			<h3>Our Features</h3>
			<p class="vel">Some Key Points</p>
			<div class="services-grids">
				<div class="col-md-6 services-grid-left">
					<div class="col-xs-4 services-grid-left1">
						<i class="hovicon effect-2 sub-a feat"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></i>
					</div>
					<div class="col-xs-8 services-grid-left2">
						<h4>Free Images</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
							molestiae consequatur.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 services-grid-right">
					<div class="col-xs-4 services-grid-left1">
						<i class="hovicon effect-2 sub-a feat"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></i>
					</div>
					<div class="col-xs-8 services-grid-left2">
						<h4>Responsive</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
							molestiae consequatur.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grids">
				<div class="col-md-6 services-grid-left">
					<div class="col-xs-4 services-grid-left1">
						<i class="hovicon effect-2 sub-a feat"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></i>
					</div>
					<div class="col-xs-8 services-grid-left2">
						<h4>Google Maps</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
							molestiae consequatur.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 services-grid-right">
					<div class="col-xs-4 services-grid-left1">
						<i class="hovicon effect-2 sub-a feat"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></i>
					</div>
					<div class="col-xs-8 services-grid-left2">
						<h4>Easily Customizable</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
							molestiae consequatur.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //features -->
<!-- contact -->
	<div id="contact" class="contact">
		<div class="container">
		
			<div class="clearfix"> </div>
			<div class="contact-bottom">
				<h2>Contact Us</h2>
				<form>
					<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Submit" >
					<input type="reset" value="Clear" >
				</form>
			</div>
		</div>
	</div>
<!-- //contact -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-left">
				<p>&copy 2016 Perspective. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
			</div>
			<div class="header-bottom-right2 footer-right">
				<ul>
					<li><a href="#" class="facebook"> </a></li>
					<li><a href="#" class="p"> </a></li>
					<li><a href="#" class="g"> </a></li>
					<li><a href="#" class="twitter"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
